@charset "ISO-8859-1";
h1{
	color: blue;
	text-align: center;
}
h2{
	color: blue;
	text-align: center;
}
strong.vida:hover{
	color:red;
	background-color: yellow;
	text-align:center;
}
strong.P:hover{
	color:red;
	background-color: yellow;
}
strong.E:hover{
	color:red;
	background-color: yellow;
}
strong.s{
	color: black;
	font-size: 200%;
	
}
p::first-line{
	color: red;
}
body{
	background-color: #ADD8E6;
}
a:link{
	background-color: white;
	color: blue;
}
a:visited{
	background-color: blue;
	color: white;
}
h2.enlace{
	text-align: left;
	color: black;
}
h2.productos{
	text-align: left;
	color: black;
	counter-reset: cuenta-lista;
}
p.lista::before{
	content: counter(cuenta-lista) " .";
	counter-increment: cuenta-lista;
	color: black;
}